
@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-Thin.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedThin.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-Light.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedLight.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-Regular.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-Extended.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-Italic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-Medium.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedMedium.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-Bold.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedBold.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-Heavy.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedHeavy.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaFixedSlab-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-HeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaFixedSlab-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaFixedSlab-ExtendedHeavyItalic.TTF') format('truetype');
}
